.galleryShadow {
    display: none;
    -webkit-transition: ease all .5s;
    transition: ease all .5s;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
}
.galleryModal {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
}
.galleryModal .galleryContainer img {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    border: 10px solid #fff;
    border-radius: 10px;
}
.galleryModal .galleryContainer .galleryText {
    position: absolute;
    width: 100%;
    top: auto;
    height: 100%;
    color: #fff;
    text-align: center;
    color: #fff;
}
.galleryModal .gIquit {
    right: 10px;
    top: 10px;
}
.galleryModal .gIleft {
    top: 50%;
    left: 10px;
    -webkit-transform: translate(-50%);
    transform: translate(-50%)
}
.close {
    background: url('../assets/images/ico-close') no-repeat;
    cursor: pointer;
}
.nav-left{
    background: url('../assets/images/icon-left.png') no-repeat;
    cursor: pointer;
}
.nav-right {
    background: url('../assets/images/icon-right.png') no-repeat;
    cursor: pointer;
}
.list-icon,
.gallery-icon,
.slideshow-icon {
    padding: 10px 40px;
    background: #586e75;
    border: #485c61 1px solid;
    color: #FFF;
    border-radius: 2px;
    cursor: pointer;
}
.div.image {
    margin: 10px;
    position: relative;
}
.div.image img {
    widht: 100%;
    max-width: 30px;
    height: auto;
    border: 1px silid #ccc;
}
.heading {
    padding: 10px 10px;
    margin-bottom: 10px;
    font-size: 1.2em;
}
.div.image.small img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    vertical-align: 50%;
    padding: 2px;
}
.image-container {
    margin: 25px 0px;
    background : #f5f5f5;
}
.body {
    font-family: Arial, Helvetica, sans-serif;
    color: #212121;
    font-size: 0.95em;
}
.display-inline-block {
    display:inline-block;
}